body {
    background: #10002c ;
    font: 16px Arial, helvetica, sans-serif;
    
}

a {
    color: aliceblue;
    text-decoration: none;
    padding: 5px;
}

.Cabeçalho {
    color: #B606AE;

}

.centralizar{
    color: aliceblue;
    text-align: center;
}

.branco {
    color: azure;
}

#principal {
    
    width: 1135px;
    
}

#menu {
    background: #0c1c48 ;
    padding: 20px;
}

#conteudo {
    border: 5px #0c1c48 solid;
    color: aliceblue;
    padding: 20px;
}

#rodape {
    background-color: #e9e9e9#0400ff;
}



